<!DOCTYPE html>
<html>
<head>
  <title>统一登录passport</title>
</head>
<body>
<h1>统一登录passport</h1>

<form method="post">
  <div>用户名：<input type="text" name="name"/></div>
  <div>密码：<input type="text" name="password"/></div>
  <div><input type="submit" value="登录"/></div>
</form>

</body>
</html>
