<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= system %> 系统-www.<%= system %>.com</title>
</head>
<body>
<h1>你好，<%= user %>！欢迎访问 <%= system %> 系统。</h1>
</body>
</html>